<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--指明controller所在包，并扫描其中的注解-->
    <context:component-scan base-package="com.koali.web"/>
    <!--静态资源（js,image等）的访问-->
    <mvc:default-servlet-handler/>
    <!--开启注解-->
    <mvc:annotation-driven/>
    <!--ViewResolver视图解析器-->
    <!--用于支持Servlet，JSP视图解析-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--200*1024*1024即200M resolveLazily属性启用是为了推迟文件解析，以便捕获文件的异常-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="209715200" />
        <property name="resolveLazily" value="true" />
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>
    <mvc:resources location="/WEB-INF/jsp/css/" mapping="/css/**" />
    <mvc:resources location="/WEB-INF/jsp/fonts/" mapping="/fonts/**" />
    <mvc:resources location="/WEB-INF/jsp/images/" mapping="/images/**" />
    <mvc:resources location="/WEB-INF/jsp/js/" mapping="/js/**"/>
</beans>